# MySQL
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

# Polygon.io
POLYGON_API_KEY=
# POLYGON_BASE_URL=https://api.polygon.io

# Market data cache policy
MARKET_DATA_MAX_DAYS=30